USE [master]
GO
/****** Object:  Database [Inventory]    Script Date: 20/04/2026 10:51:24 ******/
CREATE DATABASE [Inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory', FILENAME = N'C:\Users\user\Desktop\MSSQL15.MSSQLSERVER\MSSQL\DATA\Inventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventory_log', FILENAME = N'C:\Users\user\Desktop\MSSQL15.MSSQLSERVER\MSSQL\DATA\Inventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/04/2026 10:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alat]    Script Date: 20/04/2026 10:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alat](
	[id_alat] [int] IDENTITY(1,1) NOT NULL,
	[id_kategori] [int] NULL,
	[nama_alat] [varchar](100) NULL,
	[stok] [int] NULL,
	[status] [varchar](50) NULL,
	[kode_alat] [nvarchar](255) NOT NULL,
	[deskripsi] [nvarchar](max) NULL,
	[foto] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Denda]    Script Date: 20/04/2026 10:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Denda](
	[id_denda] [int] IDENTITY(1,1) NOT NULL,
	[id_pengembalian] [int] NOT NULL,
	[id_user_konfirmasi] [int] NULL,
	[denda_terlambat] [decimal](18, 2) NULL,
	[denda_kerusakan] [decimal](18, 2) NULL,
	[total_denda] [decimal](18, 2) NOT NULL,
	[status_pembayaran] [varchar](20) NULL,
	[tanggal_pembayaran] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_denda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Peminjaman]    Script Date: 20/04/2026 10:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Peminjaman](
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
	[id_peminjaman] [int] NULL,
	[id_alat] [int] NULL,
	[jumlah] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 20/04/2026 10:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[id_kategori] [int] IDENTITY(1,1) NOT NULL,
	[nama_kategori] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_Aktivitas]    Script Date: 20/04/2026 10:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Aktivitas](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[aktivitas] [text] NULL,
	[waktu] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peminjaman]    Script Date: 20/04/2026 10:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peminjaman](
	[id_peminjaman] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[tanggal_pinjam] [datetime] NULL,
	[tanggal_kembali] [datetime] NULL,
	[status] [varchar](50) NULL,
	[catatan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_peminjaman] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pengembalian]    Script Date: 20/04/2026 10:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pengembalian](
	[id_pengembalian] [int] IDENTITY(1,1) NOT NULL,
	[id_peminjaman] [int] NULL,
	[tanggal_dikembalikan] [datetime] NULL,
	[kondisi_kembali] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pengembalian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20/04/2026 10:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](100) NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alat] ON 

INSERT [dbo].[Alat] ([id_alat], [id_kategori], [nama_alat], [stok], [status], [kode_alat], [deskripsi], [foto]) VALUES (17, 1, N'Laptop Lenovo V15 G5', 5, N'Tersedia', N'ALT-1', N'Laptop bisnis', N'images/LENOVO_V15_G5.jpg')
INSERT [dbo].[Alat] ([id_alat], [id_kategori], [nama_alat], [stok], [status], [kode_alat], [deskripsi], [foto]) VALUES (19, 1, N'InFocus IN114AA', 8, N'Tersedia', N'ALT-2', N'perangkat optik elektronik yang memproyeksikan gambar, video, atau data dari komputer/ponsel ke permukaan datar (layar atau dinding) dalam ukuran besar.', N'images/InFocus_IN114AA.jpg')
INSERT [dbo].[Alat] ([id_alat], [id_kategori], [nama_alat], [stok], [status], [kode_alat], [deskripsi], [foto]) VALUES (21, 7, N'Jangka', 5, N'Tersedia', N'ALT-3', N'alat geometri berkaki dua (satu ujung jarum, satu ujung pensil/pena) yang digunakan untuk menggambar lingkaran ', N'')
SET IDENTITY_INSERT [dbo].[Alat] OFF
GO
SET IDENTITY_INSERT [dbo].[Detail_Peminjaman] ON 

INSERT [dbo].[Detail_Peminjaman] ([id_detail], [id_peminjaman], [id_alat], [jumlah]) VALUES (26, 36, 19, 1)
INSERT [dbo].[Detail_Peminjaman] ([id_detail], [id_peminjaman], [id_alat], [jumlah]) VALUES (27, 37, 17, 1)
INSERT [dbo].[Detail_Peminjaman] ([id_detail], [id_peminjaman], [id_alat], [jumlah]) VALUES (28, 38, 19, 1)
SET IDENTITY_INSERT [dbo].[Detail_Peminjaman] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([id_kategori], [nama_kategori]) VALUES (1, N'Elektronik')
INSERT [dbo].[Kategori] ([id_kategori], [nama_kategori]) VALUES (4, N'Non-Elektronik')
INSERT [dbo].[Kategori] ([id_kategori], [nama_kategori]) VALUES (7, N'ATK')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[Peminjaman] ON 

INSERT [dbo].[Peminjaman] ([id_peminjaman], [id_user], [tanggal_pinjam], [tanggal_kembali], [status], [catatan]) VALUES (36, 25, CAST(N'2026-04-15T00:00:00.000' AS DateTime), CAST(N'2026-04-18T00:00:00.000' AS DateTime), N'2', N'Menunggu verifikasi pengembalian')
INSERT [dbo].[Peminjaman] ([id_peminjaman], [id_user], [tanggal_pinjam], [tanggal_kembali], [status], [catatan]) VALUES (37, 22, CAST(N'2026-04-15T00:00:00.000' AS DateTime), CAST(N'2026-04-18T00:00:00.000' AS DateTime), N'Disetujui', NULL)
INSERT [dbo].[Peminjaman] ([id_peminjaman], [id_user], [tanggal_pinjam], [tanggal_kembali], [status], [catatan]) VALUES (38, 25, CAST(N'2026-04-20T00:00:00.000' AS DateTime), CAST(N'2026-04-23T00:00:00.000' AS DateTime), N'0', NULL)
SET IDENTITY_INSERT [dbo].[Peminjaman] OFF
GO
SET IDENTITY_INSERT [dbo].[Pengembalian] ON 

INSERT [dbo].[Pengembalian] ([id_pengembalian], [id_peminjaman], [tanggal_dikembalikan], [kondisi_kembali]) VALUES (13, 36, CAST(N'2026-04-15T16:53:58.770' AS DateTime), N'Bagus')
SET IDENTITY_INSERT [dbo].[Pengembalian] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id_user], [nama], [username], [password], [role], [created_at]) VALUES (1, N'Administrator', N'admin', N'$2a$12$c5V/il8usv40ok4OzB7pSOeElqQGXnGxSJZvbg2x7FKIoBcAnmPTO', N'Admin', CAST(N'2026-02-10T11:37:48.263' AS DateTime))
INSERT [dbo].[User] ([id_user], [nama], [username], [password], [role], [created_at]) VALUES (19, N'Administrator 2', N'admin2', N'$2a$12$c5V/il8usv40ok4OzB7pSOeElqQGXnGxSJZvbg2x7FKIoBcAnmPTO', N'Admin', CAST(N'2026-03-26T09:37:22.547' AS DateTime))
INSERT [dbo].[User] ([id_user], [nama], [username], [password], [role], [created_at]) VALUES (20, N'Petugas', N'petugas 2', N'$2a$11$bHanLK..uRzPP.BooFdSr.E493/GWMHKaSjUCWdH0ZPPzEKVzp63i', N'Petugas', CAST(N'2026-03-26T09:55:40.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [UQ__Pengemba__546CC69F8CC8BCE6]    Script Date: 20/04/2026 10:51:25 ******/
ALTER TABLE [dbo].[Pengembalian] ADD UNIQUE NONCLUSTERED 
(
	[id_peminjaman] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Denda] ADD  DEFAULT ((0)) FOR [denda_terlambat]
GO
ALTER TABLE [dbo].[Denda] ADD  DEFAULT ((0)) FOR [denda_kerusakan]
GO
ALTER TABLE [dbo].[Denda] ADD  DEFAULT ('Belum Bayar') FOR [status_pembayaran]
GO
ALTER TABLE [dbo].[Alat]  WITH CHECK ADD  CONSTRAINT [FK_Alat_Kategori] FOREIGN KEY([id_kategori])
REFERENCES [dbo].[Kategori] ([id_kategori])
GO
ALTER TABLE [dbo].[Alat] CHECK CONSTRAINT [FK_Alat_Kategori]
GO
ALTER TABLE [dbo].[Denda]  WITH CHECK ADD  CONSTRAINT [FK_Denda_Pengembalian] FOREIGN KEY([id_pengembalian])
REFERENCES [dbo].[Pengembalian] ([id_pengembalian])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Denda] CHECK CONSTRAINT [FK_Denda_Pengembalian]
GO
ALTER TABLE [dbo].[Denda]  WITH CHECK ADD  CONSTRAINT [FK_Denda_Petugas] FOREIGN KEY([id_user_konfirmasi])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Denda] CHECK CONSTRAINT [FK_Denda_Petugas]
GO
ALTER TABLE [dbo].[Log_Aktivitas]  WITH CHECK ADD  CONSTRAINT [FK_Log_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Log_Aktivitas] CHECK CONSTRAINT [FK_Log_User]
GO
ALTER TABLE [dbo].[Peminjaman]  WITH CHECK ADD  CONSTRAINT [FK_Peminjaman_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Peminjaman] CHECK CONSTRAINT [FK_Peminjaman_User]
GO
ALTER TABLE [dbo].[Pengembalian]  WITH CHECK ADD  CONSTRAINT [FK_Pengembalian_Peminjaman] FOREIGN KEY([id_peminjaman])
REFERENCES [dbo].[Peminjaman] ([id_peminjaman])
GO
ALTER TABLE [dbo].[Pengembalian] CHECK CONSTRAINT [FK_Pengembalian_Peminjaman]
GO
/****** Object:  StoredProcedure [dbo].[SP_Peminjaman_Ajukan]    Script Date: 20/04/2026 10:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Peminjaman_Ajukan]
    @id_user INT,
    @tanggal_pinjam DATE,
    @tanggal_kembali DATE,
    @id_alat INT,
    @jumlah INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @stok INT;
    DECLARE @id_peminjaman INT;

    -- Cek stok alat
    SELECT @stok = stok
    FROM Alat
    WHERE id_alat = @id_alat;

    IF @stok < @jumlah
    BEGIN
        RAISERROR('Stok alat tidak mencukupi', 16, 1);
        RETURN;
    END

    -- Insert ke Peminjaman
    INSERT INTO Peminjaman (id_user, tanggal_pinjam, tanggal_kembali, status)
    VALUES (@id_user, @tanggal_pinjam, @tanggal_kembali, 0);

    SET @id_peminjaman = SCOPE_IDENTITY();

    -- Insert detail peminjaman
    INSERT INTO Detail_Peminjaman (id_peminjaman, id_alat, jumlah)
    VALUES (@id_peminjaman, @id_alat, @jumlah);

    -- Update stok alat
    UPDATE Alat
    SET stok = stok - @jumlah,
        status = CASE WHEN stok - @jumlah = 0 THEN 1 ELSE 0 END
    WHERE id_alat = @id_alat;

END
GO
USE [master]
GO
